<div class="col-md-12">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img class="slide-image w-75" src="~/Images/carousel1.jpg?1" alt="..." />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>CIVIC</h5>
                        <p>The Honda Civic is a line of cars originally a subcompact</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="slide-image w-75" src="~/Images/carousel2.jpg?1" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>FIT</h5>
                        <p>The Honda Fit, also marketed as Honda Jazz, is a five-door B-segment supermini</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="slide-image w-75" src="~/Images/carousel3.jpg?1" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>CR-V</h5>
                        <p>The Honda CR-V is a compact crossover SUV</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="slide-image w-75" src="~/Images/carousel4.jpg?1" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ACCORD</h5>
                        <p>The Honda Accord, known as the Honda Inspire in Japan for certain generations</p>
                    </div>
                </div>
            </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
