<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link href="~/content/site.css?20" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="esh-app-wrapper">
        <header class="esh-app-header">
            <div class="container">
                <article class="row">
                    <section class="col-lg-7 col-md-6 col-xs-12">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/Images/honda-logo1.jpg" alt="honda" />
                        </a>
                    </section>
                    <section class="col-lg-4 col-md-5 col-xs-12">
                        <div class="esh-identity">
                            <section class="esh-identity-section">
                                <div class="esh-identity-item">
                                    @await Component.InvokeAsync("CategoryMenu")
                                </div>
                            </section>
                        </div>
                    </section>
                    <section class="col-lg-1 col-xs-12">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </section>
                </article>
            </div>
        </header>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
