@model HomeViewModel

<div class="container">
    <div class="row">
        <partial name="_Carousel" />
    </div>
    <div class="row">
        <h2>Car on sale</h2>
    </div>
    <div class="row">
        @foreach (var car in Model.CarOnSale)
        {
            <partial name="_carCard" model="car" />
        }
    </div>
</div>