body {
    padding-top: 30px;
    background-image: url('/images/pattern2.png');
    background-repeat: repeat;
}

.caption {
    font-size: small;
    height: 500px;
    overflow: hidden;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

    .thumbnail img {
        width: 100%;
    }

.navbar-inverse {
    background-color: #a593c2;
    border-color: #a593c2;
    padding: 20px;
}

.nav > li > a {
    font-size: 1.2em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
}

.slide-image {
    width: 100%;
}

.addToCart {
    padding-right: 10px;
    padding-left: 10px;
}